{
    "parser": "@typescript-eslint/parser",
    "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
    "plugins": ["jsx-a11y", "import", "eslint-plugin-prettier", "react-hooks", "react-native"],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        },
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "rules": {
        "@typescript-eslint/no-inferrable-types": ["off"],
        "@typescript-eslint/explicit-function-return-type": ["off"],
        "max-len": ["off"],
        "prefer-promise-reject-errors": ["off"],
        "react/jsx-filename-extension": ["off"],
        "react/prop-types": ["off"],
        "no-return-assign": ["off"],
        "no-throw-literal": ["error"],
        "indent": [
            0,
            "tab",
            {
                "SwitchCase": 1
            }
        ],
        "react/jsx-indent": [0, "tab"],
        "react/jsx-indent-props": [0, "tab"],
        "react/destructuring-assignment": ["off"],
        "react/jsx-props-no-spreading": ["off"],
        "react/jsx-closing-bracket-location": ["off"],
        "react-native/no-unused-styles": 2,
        "react-native/split-platform-components": 2,
        "react-native/no-inline-styles": 2,
        "react-native/no-color-literals": ["off"],
        "react-native/no-raw-text": 2,
        "react-native/no-single-element-style-arrays": 2,
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "@typescript-eslint/no-empty-interface": ["off"],
        "no-empty-function": "off",
        "@typescript-eslint/no-empty-function": "off",
        "react/no-unescaped-entities": ["off"],
        "@typescript-eslint/no-use-before-define": ["off"],
        "@typescript-eslint/member-delimiter-style": ["off"],
        "@typescript-eslint/camelcase": ["off"],
        "prefer-const": ["off"],
        "prettier/prettier": [
            "error",
            {
                "printWidth": 100,
                "trailingComma": "none",
                "tabWidth": 4,
                "semi": true,
                "useTabs": false,
                "singleQuote": true,
                "jsxBracketSameLine": true,
                "jsxSingleQuote": false
            }
        ],
        "consistent-return": ["off"],
        "@typescript-eslint/no-explicit-any": ["off"],
        "@typescript-eslint/ban-types": ["off"],
        "@typescript-eslint/no-unused-vars": ["off"],
        "@typescript-eslint/explicit-module-boundary-types": ["off"]
    }
}
